ion-content {
  --background: linear-gradient(174.19deg, #DEE4F7 0%, #E1D7F0 34.92%, #EFCCE5 60.31%, #FFD3E3 100%);
}

@media (prefers-color-scheme: dark) {
  ion-content {
    --background: linear-gradient(167.96deg, #C9B5D9 0%, #A4D2FD 100%);
  }
}
